:root{
    --natural: #ED1C24;
    --rain: #3572B9;
    --pollen: #DCCC3C;
    --prairie: #F47534;
    --seed: #A35FA6;
    --forest: #6BA95C;
    --black: #000000;
    --white: #ffffff;
    --logoW: clamp(1.75rem, 8vw, 3rem);
    --logoH: 83%;
    --itemW: clamp(1rem, 3vw, 1.25rem);
    --itemH: 90%;
}

/* UNIVERSAL */

body {
    margin: 0em;
}
.wrap {
    margin: 4em;
}

ul {
    list-style: none;
}

/* DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
}

.arrowTextContainer {
display: flex;
    h3 { margin-right: 0.3rem;
        
    }
}

.downArrow {
width: 1em;
flex: 0 0 auto;
}

.dropdown-projects {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    z-index: 5;
  }

  .dropdown-projects a, .dropdown-burger a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-projects {display: block;} 


/* STYLE */

a {
    color: var(--black);
    text-decoration: none;
    
    &:hover {
        color: var(--natural);
        fill: var(--natural);
    }
}  

/* PUZZLE STYLE CLASSES */

.natural {
    color: var(--natural);
    fill: var(--natural);
}

.rain {
    color: var(--rain);
    fill: var(--rain);
}

.pollen {
    color: var(--pollen);
    fill: var(--pollen);
}

.prairie {
    color: var(--prairie);
    fill: var(--prairie);
}

.forest {
    color: var(--forest);
    fill: var(--forest);
}

.seed {
    color: var(--seed);
    fill: var(--seed);
}

/* TYPE */

/* H1 for title */
h1 {
    font-family: 'proxima-soft';
    font-weight: 800;
    font-size: var(--logoW);
    line-height: var(--logoH);
    width: min-content;
    margin: .5rem;
}

/* H2 for article headers */
h2 {
    font-family: 'proxima-soft';
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.8rem;
}

/* H3 for buttons, nav, etc. */
h3 {
    font-family: 'proxima-soft';
    font-weight: 600;
    font-size: var(--itemW);
    line-height: var(--itemH);
    width: min-content;
    margin: 1rem;
}

/* H5 for Links*/
h5 {
    font-family: 'apparat';
    font-weight: 400;
    font-size: 1rem;
    margin: .5rem;
}

/* NAVIGATION */
nav {
    display: flex;
    flex-flow:wrap;
    z-index: 10;
    margin-top: 15%;
    padding: 0 0 1em 0;
}

/* UNIVERSAL STICKY */
/* This happens when sticky isnt triggered */
#stickyNavBar:not(.sticky) {
    position: relative;
}

.sticky {
    position: sticky;
    top: 0;
}


.primary {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1 1 35%;
    background-color: var(--white);
    padding: 2em 0 1em 0;
}

.logoContainer {
    display: flex;
}

.logo {
    color: var(--natural);
    &:hover {
        color: var(--black);
    }
    /* flex: auto; */
    /* width: fit-content; */
}

.nav-items {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 40%;
    background-color: var(--white);
}
/* HIDDEN DROPDOWN */

.hidden {
    position: relative;
    display: none;
    flex: auto;
    
    margin: auto;

}

.hidden-dropdown {
    position: relative;
    flex: auto;
    width: 2.5em;
    margin: auto 0px auto auto;
    height: 1.5em;
    svg {
        height: 1.5em;
        width: 1.5em;
    }
}

.dropdown-burger {
    display: none;
    position: absolute;
    background-color: white;
    width: min-content;
    z-index: 1;
    right: 0;
  }

.hidden-dropdown:hover .dropdown-burger {display: block;} 


/* Body */

.impactContainer {
    position: absolute;
}

.impact-quote {
    /* width: 75% - 2em;*/
    margin: 25% 4em 30% 20%; 
    /* left: 35%;
    width: min(100vh, 65%);
    margin-top: 25%;
    margin-bottom: 30%; */
    /* position: absolute; */
    
    p {
        font-family: 'proxima-soft';
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}

.ImageFix {
display: block;
}

.body-container {
    display: flex;
    flex-wrap: wrap;
}

.resourceCard {
    display: flex;
    padding: 5em 0 0 0;
    flex: auto;

    .article-body {
        margin-bottom: 0;
    }
}

.article-container {
    margin-left: 3em;
    display: inline-flex;
    text-align: left; 
    flex: 1 1 65%;
    justify-content: end;
}

.article-head-container {
   /* min-width: 11em; */
   flex: 1 1 30%;
}

.article-head {
    max-width: min-content;
    margin: 0 auto 0 0; 
    padding-right: 2rem;
}

.article-body {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    p {color: #000000;}
}

.mainTextBody {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    p {color: #000000;}
}

.mainTextHeadRight {
    flex: 1 1 30%;
    max-width: max-content;
    margin: 0 auto 0 0; 
    padding-right: 3rem;
}

.articleColapse {
}

.articleExpand {
}

.mainTextHeadLeft {
    max-width: max-content;
    margin: 0 auto 0 0; 
    padding-left: 3rem;
}

.article-body img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.article-p {
    font-family: 'apparat';
    margin: 0;
    padding: .5em 0 0 0;
}

.article-img {
    background-color: green;
    max-width: 600px;
    height: 600px;
}

.resourceList {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;

    ul{
        display: block;
    }

    li{
        flex:1 1 50%;
        min-width: fit-content;
        .rain{
            color: var(--black); 
            &:hover {
                color: var(--rain);
            }
        }
        .prairie{
            color: var(--black); 
            &:hover {
                color: var(--prairie);
            }
        }
        .pollen{
            color: var(--black); 
            &:hover {
                color: var(--pollen);
            }
        }
        .forest{
            color: var(--black); 
            &:hover {
                color: var(--forest);
            }
        }
        .seed{
            color: var(--black); 
            &:hover {
                color: var(--seed);
            }
        }
    }

    h5{
        width:auto;
        margin: .5rem;
    }

    a{
        display: inline-block;

    }
    a:link {
        text-decoration: underline;
    }
}

.resourceHeader {
    width:auto;
    margin: 1rem 0 0 0;
}

.linkWrap{
flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    padding-top: 1em;
}

.footer-container {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    p {
        font-family: 'apparat';
        line-height: 1rem;
        margin: .2rem 1rem;
        width: min-content;
    }
    h3 {
        margin: .2rem 1rem;
    }
}


/* MEDIA */

/* desktop */
@media only screen
and (min-width : 1200) {
    .rightSideAppear  {
        display: none;
        h2{
            display: none;
        }
    }
}

/* tablet landscape */
@media screen and (min-width: 1044px) and (max-width: 1600px)  {
    .rightSideColapse  {
        display: none;
    }
    .rightSideAppear  {
        display: none;
        h2{
            display: none;
        }
    }
}

/* tablet portrait */
@media screen and (min-width: 900px) and (max-width: 1044px)  {
    .resourceCard {
        padding: 5em 0 0 0;
    }
    .rightSideAppear  {
        display: none;
        h2{
            display: none;
        }
    }
}

/* smartphone landscape */
@media screen and (min-width: 480px) and (max-width: 900px)  {

    /* .nav-items {
        display: none;
    } */

    .impact-quote {
        margin: 45% 4em 30% 20%; 
    }
    
    .hidden {
        display: none;
    }

    .article-container {
        display: inline-block;
    }

    .article-head {
        margin: 0;
        padding-bottom: 1rem;
    }

    .rightSideDisppear{
        h2{
            display: none;
        }
    }
    .rightSideAppear  {
        h2{
        padding-left: 0;
        }
    }


    /* Maybe transfer */
    .article-head-container {
        display: flex;
        margin: auto;
        margin-bottom: 1em;
        h2{
            flex:0 1 40%;
        }
        
    }

    .article-body {
        margin-bottom: 5rem;
    }

    h3 {
        margin: .5rem;
    }

}

/* smartphone portrait */
@media screen and (max-width: 479px) {

    .wrap {
        margin: 3rem;
    }

    .nav-items {
        display: none;}

    .hidden {
        display: inline-block;
    }

    .body-container {
        display: block;
    }
        
    /* Not needed here */
    .impact-quote {
        display: none;
        p {
            font-family: 'proxima-soft';
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }

    .resourceCard {
        padding: 5em 0 0 0;
    }
    
    .article-container {
        margin-left: auto;
        display: inline-flex;
        flex-direction: column;
        text-align: left; 
    }

    .rightSideDisppear{
        h2{
            display: none;
            }
    }

    .rightSideAppear {
        h2{
        padding-left: 0;
        }
    }

    .article-head-container {
    display: flex;
    justify-content: space-around;
    flex: auto;
    margin-bottom: 1em;
    h2{
        flex:0 1 60%;
    }
    }

    .article-head {
        /* This is breaxing fitting margin: 0 0 100% 0; */
        max-width: min-content;
        margin: 0 auto 0 .5em; 
    }

    .article-body {
        margin-bottom: 0em;
    }

    .puzzle-container {
        display: none;}

    .title-img {
        display: flex;
    }
};
